.container-fluid {
	color:darkslateblue;
	font-size: 22px;
	font-family: verdana;
}

.endorse {
	font-family: verdana;
	font-size: 18px;
	color: cadetblue;

}
.jumbotron {
	font-family: verdana;

}
#buzz {
	font-family:verdana;
}
.jamie {
	font-family: verdana;
	font-size: 15px;
	color: darkcyan;

}
.malala {
	font-family: verdana;
	font-size: 15px;
	color: darkbrown;
}
.lily {
	font-family: verdana;
	font-size: 15px;
	color: darkmagenta;
}

#mission {
	font-family: verdana;
	font-size: 17px;
	color: darkslateblue;
}
