.container-fluid {
	color:darkslateblue;
	font-size: 18px;
	font-family: verdana;
}
.endorse {
	font-family: verdana;
	font-size: 16px;
	color: cadetblue;

}
.jumbotron {
	font-family: verdana;

}
#buzz {
	font-family:verdana;
}
.jamie {
	font-family: verdana;
	font-size: 13px;
	color: darkcyan;

}
.malala {
	font-family: verdana;
	font-size: 13px;
	color: chocolate;
}
.lily {
	font-family: verdana;
	font-size: 13px;
	color: darkmagenta;
}

#mission {
	font-family: verdana;
	font-size: 14px;
	color: cadetblue;
}