.container-fluid {
	color:darkslateblue;
	font-size: 18px;
	font-family: courier;
}
.endorse {
	font-family: courier;
	font-size: 16px;
	color: forestgreen;

}
.jumbotron {
	font-family: courier;

}
#buzz {
	font-family:courier;
}
.jamie {
	font-family: courier;
	font-size: 12px;
	color: saddlebrown;

}
.malala {
	font-family: courier;
	font-size: 12px;
	color:cornflowerblue;
}
.lily {
	font-family: courier;
	font-size: 12px;
	color: darkorchid;
}

#mission {
	font-family: courier;
	font-size: 14px;
	color: seagreen;
}